@font-face{
    font-family: 'Montserrat-light';
    src: url(../fonts/Montserrat/Montserrat-Light.ttf);
}

@font-face{
    font-family: 'Montserrat-medium';
    src: url(../fonts/Montserrat/Montserrat-Medium.ttf);
}

@font-face{
    font-family: 'Montserrat-bold';
    src: url(../fonts/Montserrat/Montserrat-Bold.ttf);
}


@font-face{
    font-family: 'Open_Sans-regular';
    src: url(../fonts/Open_Sans/OpenSans-Regular.ttf);
}

@font-face{
    font-family: 'Open_Sans-SemoBold';
    src: url(../fonts/Open_Sans/OpenSans-SemiBold.ttf);
}